
h1 {
    font-family: "Figtree";
    font-size: 56px;
    font-weight: 800;
    text-align: center;
    color: white;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

canvas {
    background-image: url("./assets/img/9_intro_outro_screens/start/startscreen_2.png");
    background-size: 100% 100%;

    width: 100%;
    height: 100%;
}

/* tablet */
@media (max-width: 1280px) {
    h1 {
        font-size: 50px;
    }
}

/* mobile */
@media (max-width: 767px) {
    h1 {
        font-size: 48px;
    }
}
