
h1 {
    font-family: "Figtree";
    font-size: 56px;
    font-weight: 800;
    text-align: center;
    color: white;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

canvas {
    background: black;
    width: 100%;
    height: 100%;
}

/* tablet */
@media (max-width: 1280px) {
    h1 {
        font-size: 50px;
    }
}

/* mobile */
@media (max-width: 767px) {
    h1 {
        font-size: 48px;
    }
}
