body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-image: url("../assets/img/12_website/index-bk.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #09212a;
    border-bottom: 3px solid wheat;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: none;

    section {
        padding: 0 24px;
    }
}

canvas {
    display: block;
    border-radius: 5px 5px 5px 5px;
    border: wheat 2px solid;
    margin-bottom: 64px;

    background-image: url("../assets/img/9_intro_outro_screens/start/startscreen_2.png");
    background-size: 100% 100%;

    width: 100%;
    height: 100%;
}

#fullscreen {
    .hide-object {
        display: none;
    }
    .orientation-display-hide {
        display: block;
    }
    .orientation-display-show {
        display: none;
    }
    .show-only-on-Mobile {
        display: flex;
    }
}

#overlay-UI {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
}

#overlay-main-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .start-button-container {
        background-color: #09212ad8;
        border-radius: 5px;
        border: 2px solid rgba(245, 222, 179, 0.831);
        padding: 20px;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .start-story-text {
        margin-top: 26px;
        border: none;
        background: none;
    }
}

#mobile-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

button {
    background-color: rgb(238, 161, 7);
    border: 2px solid;
    border-color: rgb(219, 100, 9);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;

    img {
        background: none;
        border: none;
        width: 30px;
        height: 30px;
    }
}

button:hover,
.touchPressed {
    background-color: rgb(238, 183, 74);
    border-color: rgb(222, 128, 56);
    transform: scale(0.95);
}

.button-UI {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 15px;
}

.button-rect {
    border-radius: 5px;
    height: 50px;
    width: 150px;

    font-family: "Boogaloo";
    font-size: 25px;
    color: rgb(95, 50, 2);
}

.button-image-offset {
    top: 2px;
}

.button-mirror-image {
    transform: scaleX(-1);
}

.audio_slider {
    width: 100px;
    height: 25px;
    margin-right: 15px;
}

.orientation-text {
    background-color: #09212ad8;
    border-radius: 5px;
    border: 2px solid rgba(245, 222, 179, 0.831);
    padding: 8px;
    margin: 10px;
}

.controls {
    margin-bottom: 28px;
    p {
        margin: 8px;
        border: none;
        span {
            color: rgb(207, 254, 221);
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #09212a;
    border-top: 3px solid wheat;
    height: 128px;

    .footer-content{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        border: none;
    }
}

/* Smartphones */
@media only screen and (max-width: 600px) {
    main {
        section {
            padding: 0 8px;
        }
    }

    canvas {
        width: 100%;
    }

    #fullscreen {
        .orientation-display-hide {
            display: none;
        }
        .orientation-display-show {
            display: flex;
        }
    }
}


/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}
@media (hover) {
    #fullscreen {
        .show-only-on-Mobile {
            display: none;
        }
    }
}
